<h1>Welcome, <%= current_user.username.capitalize %></h1>

<div>

<picture>
  <source srcset="/images/beerhomepage.jpg" type="image/svg+xml">
  <img src="/images/beerhomepage.jpg" class="img-fluid img-thumbnail" alt="...">
</picture>

</div>