<h1> Rate Your Brew </h1>

<form action='/beers' method="POST">

    <input type="text" name="beer[name]" placeholder="Name"><br><br>
    <input type="text" name="beer[descrpition]" placeholder="Description"><br><br>
    <input type="number" min="1" max="100" name="beer[abv]" placeholder="ABV Percentage"><br><br>
    <input type="number" min="1" max="10"name="beer[rating]" placeholder="Rating"><br><br>
    <input type="submit" value = "Rate Beer">
</form>
