<h1> Rate Your Beer </h1>

<form action='/beers' method="POST">

    Name: <input type="text" name="beer[name]"><br><br>
    Description: <textarea name="beer[descrpition]" row="1"></textarea><br><br>
    ABVpercentage: <input type="number" min="1" max="100" name="beer[abv]"><br><br>
    Rating: <input type="number" min="1" max="10"name="beer[rating]"><br><br>
    <input type="submit" value = "Rate Beer">
</form>
