<div class="container">
  <header><img src="images/Beer2.jpg" class="img-responsive main-image" height="300"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Rate Your Brew</h2>

    <div class="content">
      <p>Welcome to Rate Your Brew Website; If you're like us and sometimes can't remember which brews you like
         This is your own place to remember which ones you liked! Give your favorite beers a rating!
      </p>

    <div class="sidebar">
      <h3>Recent Activity</h3>
      <ul>
        <li><b>Total Beers Rated:</b> <%= current_user.beers.length %></li>
        <li><b>Most Recently Rated Beer:</b> <%= latest_beer %></li>
      </ul>
    </div>

  </div>
</div>
