<div class="container">
  <header><img src="https://unsplash.com/photos/XDW56oKSCHw" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Rate Your Brew</h2>

    <div class="content">
      <p>Welcome to Rate Your Brew Website; If you're like us and sometimes can't remember which brews you like
         This is your own place to remember which ones you liked! Give your favorite beers a rating!
      </p>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
